/* =========================
   FullCalendar 디자인 변경
========================= */

.week-calendar{

    background:#fffaf0;
    padding:25px;
    border-radius:25px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);

}


/* 캘린더 전체 */

#calendar{

    background:white;
    border-radius:20px;
    padding:15px;

}



/* 상단 제목 */

.fc-toolbar-title{

    color:#405346;
    font-size:24px !important;
    font-weight:500;
    letter-spacing:2px;

}



/* 버튼 */

.fc-button{

    background:#405346 !important;
    border:none !important;
    border-radius:50px !important;
    padding:8px 18px !important;

}


.fc-button:hover{

    background:#718a78 !important;

}



/* 요일 */

.fc-col-header-cell{

    background:#dce9df;
    padding:12px 0;
    border:none !important;

}


.fc-col-header-cell-cushion{

    color:#405346;
    text-decoration:none;
    font-weight:bold;

}



/* 날짜 영역 */

.fc-daygrid-day{

    height:70px;
    border:none !important;
    cursor:pointer;

}



.fc-daygrid-day-frame{

    display:flex;
    justify-content:center;
    align-items:center;

}



/* 날짜 숫자 */

.fc-daygrid-day-number{

    width:38px;
    height:38px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    color:#405346;
    text-decoration:none;

}



/* 마우스 올림 */

.fc-daygrid-day:hover 
.fc-daygrid-day-number{

    background:#f2dfc6;

}



/* 오늘 날짜 */

.fc-day-today 
.fc-daygrid-day-number{

    background:#dce9df;
    color:#405346;

}



/* 선택 날짜 */

.selected-day
.fc-daygrid-day-number{

    background:#405346;
    color:white;

}



/* 주말 */

.fc-day-sun 
.fc-daygrid-day-number{

    color:#d46a6a;

}


.fc-day-sat 
.fc-daygrid-day-number{

    color:#6688bb;

}
